
body{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alegreya Sans', sans-serif;
    background-image: linear-gradient(-90deg,green,blue,yellow,orange);
}


h1 {
    display: flex;
    justify-content: center;
    color: red;
}

#button {
    display: flex;
    justify-content: center;
    color: blueviolet
}

#towers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    border: 10px solid grey;
    border-radius: 25%;
}

#startTower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 15px;
    height: 250px;
    background-color: black;
}

#middleTower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 15px;
    height: 250px;
    background-color: black;
}

#endTower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 15px;
    height: 250px;
    background-color: black;
}

.disk4 {
    display: flex;
    width: 60px;
    height: 40px;
    border: 1px solid black;
    background: blue;
    border-radius: 20%;
}

.disk3 {
    display: flex;
    width: 90px;
    height: 40px;
    border: 1px solid black;
    background: green;
    border-radius: 20%;
}

.disk2 {
    display: flex;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background: yellow;
    border-radius: 20%;
}

.disk1 {
    display: flex;
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background: orange;
    border-radius: 20%;
}

#holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 100px;
    border: 10px solid gray;
    border-radius: 25%;
    margin: auto;
}

.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }
